@import "./variables.scss";

.flow-chart-wrapper {
  min-height: 100vh;
  padding: 0 40px;
  margin-top: 20px;
  .header {
    text-align: center;
    color: white;
    font-size: 2rem;
    padding-top: 10px;
    line-height: inherit;
  }

  .flow-chart {
    margin-top: 20px;
    background-color: #f0f0f0;
    .react-flow__handle {
      border-radius: 50%;
    }
    // .node {
    //   padding: 7px 10px;
    //   border-radius: 0;
    //   border-width: 0;
    //   box-shadow: none;
    //   border-top-left-radius: 5px;
    //   border-top-right-radius: 5px;
    //   border-bottom: 3px solid $lt-btn-primary;
    //   &:hover {
    //     box-shadow: none;
    //   }
    // }

    .custom-node {
      padding: 8px 10px;
      background-color: #fff;
      text-align: left;
      border-bottom: 3px solid $lt-btn-primary;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      display: flex;
      align-items: center;
      .icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        font-size: 1.3rem;
        margin-right: 10px;
        // margin-bottom: 5px;
        color: $lt-font-dull-color;
      }
      .title {
        font-size: 1.3rem;
        color: $lt-font-color;
        font-weight: 500;
        vertical-align: bottom;
      }
    }

    .react-flow__edge-path {
      stroke: #000000;
      stroke-width: 2px;
    }

    .filter-node {
      min-width: 200px;
    }
    .project-label {
      min-width: 150px;
      .title {
        margin: 0 auto;
      }
    }
    .exchange-label {
      min-width: 190px;
    }

    .sort-merg-join {
      min-width: 350px;
      height: 60px;
    }
    .aggrigate-label {
      min-width: 300px;
      height: 50px;
    }

    .sort-node {
      display: flex;
      min-width: 250px;
      min-height: 160px;
      align-items: center;
      flex-direction: column;
      .sort-header {
        & > div {
          display: flex;
          align-items: center;
          .sort-label {
            font-size: 1.2rem;
            align-self: flex-start;
            font-weight: 500;
          }
        }
        width: 100%;
        display: flex;
        padding: 6px 10px;
        border-bottom: 3px solid $lt-btn-primary;
        display: flex;
        justify-content: space-between;
        .sort-duration {
          background-color: $lt-main-bg;
          border: 1px solid #e7edf5;
          color: #a5aec0;
          padding: 0px 12px;
          height: 18px;
          line-height: 18px;
          align-self: center;
          border-radius: 50px;
          font-size: 0.8rem;
          font-weight: 500;
        }
      }
      .body {
        width: 100%;
        padding: 10px;
        .body-title {
          margin-bottom: 15px;
          color: $lt-font-dull-color;
        }
        .table-row {
          display: flex;
          justify-content: space-between;
          .col-label {
            font-size: 0.9rem;
            font-weight: 500;
            margin-bottom: 4px;
            color: $lt-font-color;
          }
          .col-value {
            text-align: center;
            font-size: 1rem;
            color: $lt-font-dull-color;
          }
        }
      }
    }
  }
}
