.app {
  display: block;
  text-align: center;
}
h2 {
  font-size: 2.5rem;
}
p {
  line-height: 1.5;
  font-size: 1.3rem;
  padding: 20px 50px;
}

p:nth-child(odd) {
  /* background-color: rgb(190, 186, 186); */
}

#top {
  height: 3px;
  background-color: rgb(147, 243, 147);
  box-shadow: 0 -2px 6px 2px rgb(155, 248, 155);
  position: fixed;
  top: 0;
  left: 0;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
